{% extends 'dashboard/base_dashboard.html' %}
{% load staticfiles %}
{% block acompanhamento %}
<li>
{% endblock %}
{% block avaliacao %}
<li class="active">
{% endblock %}


{% block body %}
    <link href="{% static 'assets/css/avaliacoes.css'%}" rel="stylesheet" />



            <div class="content">
                <div class="container-fluid">
                    <div class="comments">
                      {% for emp in emprestimos %}

                        <div class="col-lg-12 col-sm-6 comment-wrap">
                            <div class="photo">
                                <div class="avatar" style="background-image: url('https://randomuser.me/api/portraits/med/men/18.jpg')"></div>
                            </div>
                            <div class="comment-block">
                                <ul class="comment-actions">
                                    <div class="Review-rating">
                                        <span class="Review-star Review-star--active">&#9733;</span>
                                        <span class="Review-star Review-star--active">&#9733;</span>
                                        <span class="Review-star Review-star--active">&#9733;</span>
                                        <span class="Review-star">&#9733;</span>
                                        <span class="Review-star">&#9733;</span>
                                    </div>
                                </ul>
                                <h3>Livro: {{ emp.livro_emprestado.livro_adicionado.titulo }}</h3>
                                <h5><b>Emprestado para:</b> {{ emp.perfil_solicitante }}</h5>
                                <p class="comment-text">{{emp.avaliaemprestimo.mensagem_de_avaliacao}}</p>
                                <div class="bottom-comment">
                                    <div class="comment-date">{{emp.data_emprestimo}} @ 2:35 PM</div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

{% endblock %}


<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap2.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio.js"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>
<script src="assets/js/paper-dashboard.js"></script>


</html>
