{% extends 'dashboard/base_dashboard.html' %} {% load staticfiles %} {% block body %}

<!--  Paper Dashboard core CSS    -->
<link href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">
<link href="{% static 'assets/css/estante.css'%}" rel="stylesheet" />


<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#emp">Meus Livros Emprestados</a>
        </li>
        <li>
            <a data-toggle="tab" href="#devolver">Livros a Devolver</a>
        </li>
        <li>
            <a data-toggle="tab" href="#hist">Histórico</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="emp" class="tab-pane fade in active">
            {% if solicitado %} {% for oi in solicitado %}
            <div class="bk-img" style="width:300px">
                {% if oi.status_emprestimo == 'S' or oi.status_emprestimo == 'EA' %}

                <center>
                    <br>
                    <div style="height:240px">
                        <img src="{{ oi.livro_emprestado.livro_adicionado.imagem.url }}" />
                        <h3 class="book-item_title"> <a href="{% url 'livros:livros_detail' pk=oi.livro_emprestado.livro_adicionado.id %}"> {{oi.livro_emprestado.livro_adicionado.titulo}}</a></h3>
                        <p class="author">
                        </p>
                    </div>
                    <br>
                    <div class="col-xs-6.5 info">
                        <h4><b>Solicitante:</b> <a href="{% url 'usuarios:avaliacao' oi.perfil_solicitante.id %}">{{ oi.perfil_solicitante }}</a></h4>
                        <h8><b>Telefone:</b> {{oi.perfil_solicitante.telefone}}</h8> <br>
                        <h8><b>Solicitado em:</b> {{ oi.data_emprestimo}}</h8> <br>
                        <h8><b>Devolução em:</b> {{ oi.data_devolucao }}</h8>
                    </div>

                    <h6><b>
                        Status: {% if oi.status_emprestimo == 'EA'  %}
                                Em Andamento
                                {% endif %}
                                {% if oi.status_emprestimo == 'S'  %}
                                Solicitado

                            {% endif %}
                        </b></h6>
                    <h5>
                        <button type="button"  class="button buy-button">Aceitar</button>

                         <button type="button" class="button buy-button">Negar</button>
                </h5>
                </center>

            </div>
            {% endif %} {% endfor %} {% endif %}
        </div>
        <div id="devolver" class="tab-pane fade">
            {% if solicitante %} {% for ola in solicitante %}
            <div class="bk-img" style="width:300px">
                {% if ola.status_emprestimo == 'S' or ola.status_emprestimo == 'EA' %}

                <center>
                    <br>
                    <div style="height:240px">
                        <img src="{{ ola.livro_emprestado.livro_adicionado.imagem.url }}" />
                        <h3 class="book-item_title"> <a href="{% url 'livros:livros_detail' pk=ola.livro_emprestado.livro_adicionado.id %}"> {{ola.livro_emprestado.livro_adicionado.titulo}}</a></h3>
                        <p class="author">{% for autor in livro.autores.all %}
                            <span class="subtitle">{{ autor.nome }}</span> {% endfor %}
                        </p>
                    </div>
                    <br>
                    <div class="col-xs-6.5 info">
                        <h4>Solicitante: <a href="{% url 'usuarios:avaliacao' ola.perfil_solicitante.id %}">{{ ola.perfil_solicitante }}</a></h4>
                        <h8>Telefone: {{ola.perfil_solicitante.telefone}}</h8> <br>
                        <h8>Solicitado em: {{ ola.data_emprestimo}}</h8> <br>
                        <h8>Devolução em: {{ ola.data_devolucao }}</h8>
                    </div>
                    <h6><b>Status: {% if ola.status_emprestimo == 'EA'  %}
                                Em Andamento
                                {% endif %}
                                {% if ola.status_emprestimo == 'S'  %}
                                Solicitado
                            {% endif %}
                        </b></h6>
                    <h5>
                        <button type="button"  class="button buy-button">Aceitar</button>

                         <button type="button" class="button buy-button">Negar</button>
                </h5>
                </center>

            </div>
            {% endif %} {% endfor %} {% endif %}
        </div>
        <div id="hist" class="tab-pane fade">
            <div class="" style="width:800px">
                <br>
                <br>
                <p> <h1> Aqui ficarão apenas os com Status concluído. Depois eu arrumo! </h1></p>

            </div>
        </div>
    </div>


    <script src="{% static 'assets/js/main.js'%}"></script>

    {% endblock %}

</div>
