{% extends 'dashboard/base_dashboard.html' %} {% load staticfiles %}
<!doctype html> {% block body %}
<div class="">
    {% if solicitado %}

        <center>
        <h2> Meus Empréstimos:</h2>
        </center>

    <h3>
    <ul>Querem pegar emprestado</h3>
        {% for oi in solicitado %}

        <div class="bk-book bk-bookdefault">
            <div class="bk-front">

                <img src="{{ oi.livro_emprestado.livro_adicionado.imagem.url }}" height="-90" onclick="window.location.href= '#' " />
                <a href="{% url 'usuarios:avaliacao' oi.perfil_solicitante.id %}">{{ oi.perfil_solicitante }}</a> quer o livro <a href="{% url 'livros:livros_detail' pk=oi.livro_emprestado.livro_adicionado.id %}"> {{oi.livro_emprestado.livro_adicionado.titulo}}</a>  emprestado
                <button type="button" class="button buy-button" data-toggle="modal" data-target="#confirmar_emprestimo" data-whatever="@getbootstrap">Aceitar</button> -
                <button type="button" class="button buy-button" data-toggle="modal" data-target="#cancelar_emprestimo" data-whatever="@getbootstrap">Negar</button>

                <!-- botão confirmar -->
                <div class="modal fade" id="confirmar_emprestimo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar empréstimo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'usuarios:aceita_emprestimo' user=request.user.perfil.id emprestimo=oi.id  %}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form.NON_FIELD_ERRORS }}
                          <div class='fieldWrapper'>
                            {{ form.data_devolucao.errors }}
                            <label for="{{form.data_devolucao.id_for_label }}">Data de devolução:</label>
                            {{ form.data_devolucao }}
                          </div>
                          <div class='fieldWrapper'>
                            {{ form.mensagem_cancelamento.errors }}
                            <label for={{form.mensagem_cancelamento.id_for_label}}>Mensagem:</label>
                            {{form.mensagem_cancelamento}}
                          </div>
                          <input type="submit" value="OK">
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Avalia</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- fim botão confirmar -->

                <!-- botão cancelar -->
                <div class="modal fade" id="cancelar_emprestimo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Avalie o livro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="message-text" class="form-control-label">Sobre o livro:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Avalia</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- fim botão cancelar -->


            </div>
            <div class="bk-back"></div>
            <div class="bk-left"></div>
        </div>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <p>No momento ninguém quer seus livros emprestado</p>
    {% endif %}
</div>

<div class="">
    {% if solicitante %}
    <h3> <ul>Pedi Emprestado {% for ola in solicitante %}</h3>
        <div class="bk-book bk-bookdefault">
            <div class="bk-front">
                <li>
                <img src="{{ ola.livro_emprestado.livro_adicionado.imagem.url }}" height="-90" onclick="window.location.href= '#' " />
                 Solicitei o livro <a href="{% url 'livros:livros_detail' pk=ola.livro_emprestado.livro_adicionado.id %}"> {{ ola.livro_emprestado.livro_adicionado.titulo}} </a> emprestado de <a href="{% url 'usuarios:estante' ola.perfil_do_dono.id %}">{{ ola.perfil_do_dono }}</a>            - Devolução em {{ ola.data_devolucao }} <button type="button" class="button buy-button">Cancelar Solicitação</button>
                </li>
            </div>
            <div class="bk-back"></div>
            <div class="bk-left"></div>
        </div>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <ul><p>Não tem livro registrado</p></ul>
    {% endif %}

</div>
{% endblock %}
