.page-header {
    background-color: transparent;
    background-position: center center;
    background-image: linear-gradient(#9d8ba9, #fff6e4);
}
.ou {
    text-align: center;

}

.card-register {
    background-color: #fff;
}

.card-register .title {
    color: #5C2D90;
}

label {
    color: #5C2D90;
}
input.form-control {
    color: #5C2D90;
}

.register-form .form-control {
    border: 1px solid #5C2D90 !important;
}

.btn-outline-danger {
    border-color: #5C2D90;
    color: #5C2D90;
}