{% extends "perfil/base_login_cadastro.html" %}
{% load staticfiles %}

        {% block body %}

        <div class="wrapper">
            <div class="page-header">
                <div class="filter"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 ml-auto mr-auto">
                            <div class="card card-register">
                                <h3 class="title">Crie sua conta</h3>
                                <form class="register-form" action="{% url 'cadastrar' %}" method="post" >
                                  {% csrf_token %}
                                    {{ form.non_field_errors}}
                                    <div class='fieldWrapper'>
                                      {{form.username.errors}}
                                      <label for="{{form.username.id_for_label}}">Nome</label>
                                      {{ form.username }}
                                    </div>
                                    <div class='fieldWrapper'>
                                      {{form.password1.errors}}
                                      <label for="{{form.password1.id_for_label}}">Senha</label>
                                      {{ form.password1 }}
                                    </div>
                                    <div class='fieldWrapper'>
                                      {{form.password2.errors}}
                                      <label for="{{form.password2.id_for_label}}">Confirme a Senha</label>
                                      {{ form.password2 }}
                                    </div>
                                    <div class='fieldWrapper'>
                                      {{form.telefone.errors}}
                                      <label for="{{form.telefone.id_for_label}}">Telefone</label>
                                      {{ form.telefone }}
                                    </div>
                                    <div class='fieldWrapper'>
                                      {{form.data_de_nascimento.errors}}
                                      <label for="{{form.data_de_nascimento.id_for_label}}">Data de Nascimento</label>
                                      {{ form.data_de_nascimento }}
                                    </div>
                                    <div class='fieldWrapper'>
                                      {{form.sexo.errors}}
                                      <label for="{{form.sexo.id_for_label}}">Sexo</label>
                                      {{ form.sexo }}
                                    </div> <!--
                                    <div class='fieldWrapper'>
                                      {{form.imagem_perfil.errors}}
                                      <label for="{{form.imagem_perfil.id_for_label}}">Imagem</label>
                                      {{ form.imagem_perfil }}
                                    </div> -->
                                    <input type="submit" value="Cadastrar">
                                </forms>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#datetimepicker').datetimepicker({
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-chevron-up",
                        down: "fa fa-chevron-down",
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                        today: 'fa fa-screenshot',
                        clear: 'fa fa-trash',
                        close: 'fa fa-remove'
                    },
                    locale: 'pt-br',
                    color: 'orange'

                });
            });
        </script>
        {% endblock %}







        <form action="{% url 'cadastrar' %}" method="post" >
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Cadastrar">
        </form>
