{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Registrar-se</title>
</head>
<body>
{% for usuario in lista %}
    <tr>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.email }}</td>
      <td>
        <a href="{% url 'usuarios:editar_usuario' pk=usuario.pk %}">
      <i>mode_edit</i>
        </a>
        <a href="{% url 'usuarios:remover_usuario' pk=usuario.pk %}">
      <i>delete</i>
       </a>
      </td>
    </tr>
  {% endfor %}
</body>
