{% load staticfiles %}
<h2> {{ livro }} </h2>
<ul>
  <li>Editora: {{ livro.editora }}</li>
  {% for autor in livro.autores.all %}
  <li>Autor: {{ autor.nome }} </li>
  {% endfor %}
  <li>{{ livro.imagem }}</li>
  {% if livro.imagem.url %}
    <br>
  <li><img src="{{ livro.imagem.url }}" width="100px" height="100px"></img></li>
    <br>
     {% endif %}
</ul>

{{ form.imagem }}

<a href="{% url 'livros:adiciona' pk=livro.id %}">Adicionar a estante</a>

<a href="{% url 'livros:livros_edit' pk=livro.id %}">Editar</a>
<form action="{% url 'livros:livros_delete' pk=livro.id %}" method='post'>
  {% csrf_token %}
  <input type="submit" onclick="return confirm('Deseja realmente apagar o livro?')" value="Deletar livro">
</form>
