{% extends "livros/base_index.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href=" {% static "assets/css/main.css" %}" >

<div class="mais-avaliados" id="banner">
  <div class="container">
    <h1>Mais bem avaliados</h1>
    {% if livro_list %}
    <ul class='list-inline'>
      {% for livro in livro_list %}
      <li class='book'>
        {% if user.is_authenticated %}
        <img src="{{ livro.imagem.url }}" onclick="window.location.href= '{% url 'livros:livros_detail_logado' pk=livro.id %}' "/>
        {% else %}
        <img src="{{ livro.imagem.url }}" onclick="window.location.href= '{% url 'livros:livros_detail' pk=livro.id %}' "/>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Não tem livro registrado</p>
    {% endif %}
  </div>
</div>

{% endblock %}
